body{
    background-color: bisque;
}

h2{
    color:violet;
    margin-left: 100px;
    font-size: 40px;
}
/*text-align --> Essa linha de codigo altera o 
alinhamento do codigo
outras opções são Syntax: start | end | left | right | center | justify | match-parent */
p{
    text-align: center;
    color:red
}

#para1{
    text-align: center;
    color:blueviolet
}

.center{
    text-align: justify;
    color: Orange;
}

.large{
    font-size: 150% 
}

