* {
    margin: 0;
    padding: 0;
}

/*no cabeçalho, dentro da nav, vai mudar caracteristicas dos da lista ul*/
header nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blanchedalmond;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}

header nav ul li {
  padding-left: 5%;


}

header a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black ;

}
/*<---------------------Cabeçalho------------------------>



/*o padding vai definir a distancia de elementos de sua borda3 se você colocar mais de um valor
no padding ele 
  1 = todas as bordas
  2 = horizontal e vertical
  3 = superior, horizontal, inferior
  4 = superior, horizontal, inferior, esquerda
Para você usar eles separados e só usar padding-top, padding-right, padding-bottom, padding-left*/


